@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Nanum+Pen+Script&display=swap');

body,
html {
	background-color: #ffffff;
	font-family: 'Nanum Pen Script', cursive;
	color: #444444;
	margin: 0;
	box-sizing: border-box;
}
* {
	box-sizing: inherit;
}

@keyframes float {
	from {
		transform: translateY(100vh);
		opacity: 1;
	}
	to {
		transform: translateY(-300vh);
		opacity: 0;
	}
}
